@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&display=swap");

body {
  font-family: "Comfortaa", sans-serif, Helvetica;
}

h1 {
  margin: 0;
  font-family: "Kaushan Script", sans-serif, Helvetica;
}

/* header  */
.head_container {
  background-color: rgb(150, 52, 57);
  text-align: center;
  padding: 10px 0;
  font-size: 1.3em;
}

/* main */
img {
  width: 350px;
  height: 700px;
  border: 1px solid black;
}

main {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  text-align: center;
  margin-top: 35px;
}

h2 {
  margin: 0;
}

main p {
  margin: 10px 9px;
  font-size: 1.3em;
}

.container_one,
.container_two,
.container_three {
  border-radius: 10px;
  border: 2px solid black;
  width: 400px;
  background-color: rgb(160, 62, 62);
}

.container_one {
  grid-column: 2/6;
}

.container_two {
  grid-column: 7/11;
}

.container_three {
  grid-column: 12/16;
}

.container div {
  text-align: left;
  margin-left: 10px;
}

.container h2 {
  border-radius: 5px;
  background-color: rgb(14, 55, 106);
  text-align: left;
  padding-left: 9px;
}

.container_three h2 {
  font-size: 1.3em;
  height: 27px;
}

.link {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

/*footer*/
p a {
  text-decoration: underline;
}

.container_footer {
  margin-top: 50px;
  height: 70px;
  border: 2px solid black;
  background-color: rgb(148, 40, 40);
  padding: 20px 30px;
  font-size: 1.5em;
  text-align: center;
}

.container_footer p {
  margin: 10px auto;
  text-align: center;
}

.container_footer p:nth-of-type(1) {
  color: white;
}

.container_footer p:nth-of-type(2) {
  color: rgb(71, 27, 116);
}
